/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 150%;
}
 .bottom-centered {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 150%;
}
 .top-centered {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 125%;
}

 .subscribe-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: white;
	font-size: normal;
	text-align: left;
 }
 
 a:link {
	color: white;
	background-color: transparent;
	text-decoration: underline;
 }
	 
 a:visited {
	color: white;
	background-color: transparent;
	text-decoration: underline;
 }

 a:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
 }

 a:active {
	color: white;
	background-color: transparent;
	text-decoration: underline;
 }
		
  .main {
	  display: flex;
	  justify-content: left;
	  align-items: center;
   }
   
 .section {
	 width: 50%;
	 height: 100%;
 }
 
 .video {
	 display: flex;
	 justify-content: left;
	 align-items: center;
 }
 
 .video-section {
	 width= "600";
	 height= "340";
 }

 .text-block {
	 position: absolute;
	 top: 25%;
	 left: 30%;
	 transform: translate(-30%, -25%);
	 background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	 padding: 10px;
	 border-radius: 5px;
	 color: white;
	 padding: 10px;
	 text-align: left;
	 z-index: 1;
 }